/* http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
	License: none (public domain)
*/
:root {
	--cat-filter-background-color: #fff;
	--cat-filter-border-color: #1d6154;
	--cat-filter-checked-background-color: #1d6154;
	--cat-filter-checked-font-color: #fff;
	--cat-filter-font-color: #1d6154;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
	background-color: #FFFEF8;
	height: 100%;
}
/** end reset css**/
body {
	display: table;
	font-family: 'Work Sans';
	font-size: 14px;
	width: 100%;
}
header {
	display: table-row;
	width: 100%;
}
header div:last-of-type {
	display: flex;
	justify-content: space-between;
	margin: 50px auto;
	max-width: 1140px;
}
footer {
	display: table-row;
	width: 100%;
}
footer > nav {
	margin: 0 auto;
	max-width: 1140px;
}
main {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}
main > section {
	margin: 50px auto;
	max-width: 1140px;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}
nav ul {
	align-items: center;
	display: flex;
	list-style-type: none;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav a,
nav a:link,
nav a:visited,
nav a:hover {
	text-decoration: none;
	color: inherit;
}
li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1;
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#login h2,
#portfolio h2 {
	text-align: center;
}
.gallery {
	display: grid;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 40px;
	width: 100%;
}

/*
.gallery img {
	width: 100%;

}
*/
#contact {
	width: 50%;
	margin: auto;
}
#login > *,
#contact > * {
	text-align: center;
}
#login h2,
#contact h2 {
	margin-bottom: 20px;
}
#login form,
#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#login input,
#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login label,
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="button"],
input[type="submit"] {
	-moz-appearance: none;
	/*margin : 2em auto;*/
	appearance: none;
	background-color: #1D6154;
	border-radius: 60px;
	border: 0;
	color: white;
	cursor: pointer;
	font-family: 'Syne';
	font-size: 1.2em;
	font-weight: 700;
	height: 50px;
	line-height: 1;
	padding: 0 50px;
	text-align: center;
}
input[type="button"][disabled="true"],
input[type="submit"][disabled="true"] {
	background-color: #ddd;
	cursor: auto;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

#portfolio-category-catalogue {
	display: flex;
	flex-direction: row;
	gap: 10px;
	height: auto;
	justify-content: center;
	margin-top: 25px;
	overflow-x: hidden;
	white-space: nowrap;
}

#portfolio-category-catalogue > category-filter {
	flex-basis: auto;
	flex-grow: 0;
	flex-shrink: 1;
	overflow-x: hidden;
}

#login {
	max-width: 640px;
}
#login > form {
	margin-top: 0;
}
#login > form > div {
	display: flex;
	flex-direction: column;
}
#login > form > a {
	align-self: center;
	font-size: 1.2em;
}
#login > form > a,
#login > form > a:link,
#login > form > a:visited {
	color: #000;
	text-decoration: none;
}
#login > form > a:hover {
	color: #B1663C;
}

.edit-icon::before {
	content: '';
	display: inline-block;
	margin: 0 12px 0 0;
	mask-image: url('data:image/svg+xml,%3Csvg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M14.0229 2.18576L14.3939 2.55679C14.6821 2.84503 14.6821 3.31113 14.3939 3.5963L13.5016 4.49169L12.0879 3.07808L12.9803 2.18576C13.2685 1.89751 13.7346 1.89751 14.0198 2.18576H14.0229ZM6.93332 8.23578L11.0484 4.11759L12.4621 5.53121L8.34387 9.64633C8.25494 9.73525 8.14455 9.79964 8.02496 9.83337L6.23111 10.3455L6.7432 8.55162C6.77693 8.43203 6.84133 8.32164 6.93025 8.23271L6.93332 8.23578ZM11.9408 1.14625L5.89074 7.1932C5.62397 7.45998 5.43078 7.78808 5.32959 8.14685L4.4526 11.2133C4.379 11.4708 4.44953 11.7468 4.63965 11.9369C4.82977 12.127 5.10574 12.1976 5.36332 12.124L8.42973 11.247C8.79156 11.1427 9.11967 10.9495 9.38338 10.6858L15.4334 4.63888C16.2951 3.77722 16.2951 2.37894 15.4334 1.51728L15.0624 1.14625C14.2007 0.284585 12.8024 0.284585 11.9408 1.14625ZM3.19844 2.34214C1.70816 2.34214 0.5 3.55031 0.5 5.04058V13.3812C0.5 14.8715 1.70816 16.0796 3.19844 16.0796H11.5391C13.0293 16.0796 14.2375 14.8715 14.2375 13.3812V9.94683C14.2375 9.539 13.9094 9.21089 13.5016 9.21089C13.0937 9.21089 12.7656 9.539 12.7656 9.94683V13.3812C12.7656 14.0589 12.2167 14.6078 11.5391 14.6078H3.19844C2.52076 14.6078 1.97188 14.0589 1.97188 13.3812V5.04058C1.97188 4.36291 2.52076 3.81402 3.19844 3.81402H6.63281C7.04065 3.81402 7.36875 3.48591 7.36875 3.07808C7.36875 2.67025 7.04065 2.34214 6.63281 2.34214H3.19844Z" fill="black"/%3E%3C/svg%3E');
	mask-position: center;
	mask-repeat: no-repeat;
	mask-size: cover;
	padding: 0;
}

#logged-in-banner {
	background-color: #000;
	color: #fff;
	height: 60px;
	line-height: 60px;
	text-align: center;
}
#logged-in-banner::before {
	background-color: white;
	height: 24px;
	vertical-align: middle;
	width: 24px;
}
#logged-in-banner::after {
	content: 'Mode édition';
	vertical-align: middle;
}

#portfolio {
	text-align: center;
}
#h2-my-projects {
	display: inline-block;
	line-height: 40px;
	vertical-align: middle;
}
#anchor-project-edit {
	display: inline-block;
	line-height: 40px;
	margin-left: 14px;
	position: absolute;
	vertical-align: middle;
}
#anchor-project-edit::before {
	background-color: black;
	height: 16px;
	vertical-align: middle;
	width: 16px;
}
#anchor-project-edit,
#anchor-project-edit:link,
#anchor-project-edit:visited,
#anchor-project-edit:hover {
	text-decoration: none;
	color: inherit;
}
#anchor-project-edit:hover {
	color: #B1663C;
}

#anchor-login > span:first-of-type {
	display: none;
}
body.auth-state-inactive #anchor-login::after {
	content: 'login';
}
body.auth-state-active #anchor-login::after {
	content: 'logout';
}

body.auth-state-inactive .auth-logged-in,
body.auth-state-active .auth-logged-out {
	display: none ! important;
}

main > dialog:first-of-type {
	background: transparent;
	border: 0;
	margin: auto;
	overflow: hidden;
	padding: 0;
}
main > dialog:first-of-type > div:first-of-type {
	background-color: #fff;
	border-radius: 20px;
	border: 0;
}
main > dialog:first-of-type div.header:first-of-type {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	padding: 40px 30px 0 30px;
}
main > dialog:first-of-type::backdrop {
	background: rgba(0, 0, 0, .40);
}
main > dialog:first-of-type a.dialog-sys-btn {
	padding: 10px;
}
main > dialog:first-of-type section {
	display: flex;
	flex-direction: column;
}
main > dialog:first-of-type section .dialog-body {
	flex-basis: auto;
	flex-grow: 1;
	flex-shrink: 1;
}
main > dialog:first-of-type section .dialog-body#portfolio-gallery-edit-content {
	align-content: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
	padding: 40px 80px;
}
main > dialog:first-of-type section .dialog-body#portfolio-gallery-edit-content gallery-edit-item {
	width: calc(1.0 / 5.0 * 100% - 10px);
	height: 116px;
}
main > dialog:first-of-type section .dialog-footer {
	text-align: center;
}
main > dialog:first-of-type section .dialog-footer::before {
	background: #c0c0c0;
	content: '';
	height: 1px;
	margin: 0 80px;
	display: block;
}
main > dialog:first-of-type h2 {
	color: black;
	font-family: 'Work Sans';
	font-size: 1.9em;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
}
#portfolio-gallery-edit {
	height: 680px;
	width: 640px;
}
#gallery-edit-add-btn::after {
	content: 'test';
}
